@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #171717;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer base {
  body {
    font-family: var(--font-montserrat-alternates);
  }

  h1 {
    font-family: var(--font-shrikhand);
  }

  :is(h2, h3, h4, h5, h6) {
    font-family: var(--font-montserrat);
  }
}

@layer utilities {
  .container-padding-x {
    @apply px-4 md:px-8;
  }

  .container-padding-y {
    @apply py-3 md:py-4;
  }

  .animation-container {
    @apply relative h-[248px] w-full overflow-hidden;
  }

  .sun-rays {
    position: absolute;
    bottom: -50%;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-image: radial-gradient(circle at 50% 50%, #fdcd73 0%, rgba(255, 255, 255, 0) 65%);
  }

  #cursor-animation {
    .cursor {
      @apply absolute top-0 left-0 -translate-x-1/2 -translate-y-1/2 mix-blend-difference pointer-events-none;
      transition: background-color 0.3s ease-in-out, clip-path 0.3s ease-in-out;
    }

    .shape:hover~.cursor {
      @apply w-10 h-10 bg-white;
    }

    .shape {
      @apply p-2 w-full h-full;
    }

    .triangle {
      @apply bg-red-500 w-full h-full;
      clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    }

    .square {
      @apply bg-blue-500 w-full h-full;
      clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    }

    .pentagon {
      @apply bg-green-500 w-full h-full;
      clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    }

    .hexagon {
      @apply bg-purple-500 w-full h-full;
      clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    }

    .heptagon {
      @apply bg-orange-500 w-full h-full;
      clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
    }

    .octagon {
      @apply bg-yellow-500 w-full h-full;
      clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    }

    &:has(.shape:hover .triangle) {
      .cursor {
        /* background-color: blue; */
        clip-path: polygon(32% 26%, 32% 42%, 56% 42%, 56% 55%, 32% 57%, 32% 67%, 53% 66%, 55% 78%, 28% 79%, 27% 89%, 68% 90%, 70% 24%);
      }
    }

    &:has(.shape:hover .square) {
      .cursor {
        /* background-color: red; */
        clip-path: polygon(25% 10%, 25% 57%, 58% 57%, 59% 89%, 73% 89%, 73% 56%, 74% 9%, 64% 8%, 63% 38%, 52% 37%, 40% 37%, 41% 10%);
      }
    }

    &:has(.shape:hover .pentagon) {
      .cursor {
        /* background-color: orange; */
        clip-path: polygon(70% 9%, 29% 14%, 30% 37%, 61% 48%, 60% 66%, 28% 70%, 26% 89%, 75% 82%, 72% 41%, 42% 31%, 42% 21%, 70% 22%);
      }
    }

    &:has(.shape:hover .hexagon) {
      .cursor {
        clip-path: polygon(71% 11%, 25% 17%, 24% 86%, 75% 86%, 74% 49%, 35% 51%, 39% 63%, 61% 60%, 61% 71%, 34% 75%, 35% 34%, 69% 25%);
        /* background-color: purple; */
      }
    }

    &:has(.shape:hover .heptagon) {
      .cursor {
        /* background-color: orange; */
        clip-path: polygon(25% 10%, 24% 36%, 67% 29%, 45% 50%, 29% 70%, 25% 93%, 48% 93%, 49% 72%, 88% 29%, 88% 10%, 59% 10%, 42% 10%);
      }
    }

    &:has(.shape:hover .octagon) {
      .cursor {
        /* background-color: yellow; */
        clip-path: polygon(25% 42%, 25% 9%, 75% 12%, 76% 75%, 47% 57%, 34% 78%, 76% 66%, 76% 90%, 24% 90%, 25% 36%, 66% 47%, 55% 25%);
      }
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

  @keyframes spin-reverse {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(-360deg);
    }
  }

  @keyframes hue-rotate {
    from {
      filter: hue-rotate(0deg);
    }

    to {
      filter: hue-rotate(360deg);
    }
  }
}

@layer components {
  .particle {
    position: absolute;
    top: 50%;
    left: 15%;
    scale: 3;
    opacity: 0;
    width: 32px;
    height: 32px;
  }

  .plus {

    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      background-color: #4d3f3f;
      width: 40%;
      height: 100%;
    }

    &:before {
      transform: translate(-50%, -50%) rotate(90deg);
    }

    &:after {
      transform: translate(-50%, -50%);
    }
  }

  .box {
    background-color: #4d4d4d;
  }

  .circle {
    width: 24px;
    height: 24px;
    border: 4px solid #555242;
    border-radius: 50%;
  }

  .hero-header {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 opacity-0 origin-[-30%_60%] text-7xl tracking-wide md:text-9xl;
  }

  .tag {
    @apply flex items-center justify-center w-max skew-x-[20deg] rounded-tl-md rounded-tr-lg rounded-br-md rounded-bl-lg px-4 py-1 text-xs [&_div]:skew-x-[-20deg] text-white bg-black;
  }

  /* Animation 1 */
  .animation-1 {
    @apply grid grid-cols-5 h-[200px] w-[200px];

    .box {
      @apply relative p-1 w-10 h-10 bg-transparent;
    }

    .box>div {
      @apply w-full h-full bg-gray-500 transition-all duration-100;
    }

    .box-col {
      @apply col-span-1 h-full w-full items-center justify-center;
    }

    .box:hover>div {
      background-color: aquamarine;
      transform: scale(1.1) translateY(-10px);
      box-shadow: 0 0 10px 0 rgba(0, 255, 255, 0.7);
    }

    .box-col:has(.box-1:hover)+.box-col .box-1,
    .box-col:has(.box-2:hover)+.box-col .box-2,
    .box-col:has(.box-3:hover)+.box-col .box-3,
    .box-col:has(.box-4:hover)+.box-col .box-4,
    .box-col:has(.box-5:hover)+.box-col .box-5 {
      background-color: rgba(127, 255, 212, 0.50);
      transform-origin: right;
      transform: rotateY(15deg) skewY(15deg);
      box-shadow: 0 0 10px 0 rgba(0, 255, 255, 0.5);
    }

    .box-col:has(+ .box-col .box-1:hover) .box-1,
    .box-col:has(+ .box-col .box-2:hover) .box-2,
    .box-col:has(+ .box-col .box-3:hover) .box-3,
    .box-col:has(+ .box-col .box-4:hover) .box-4,
    .box-col:has(+ .box-col .box-5:hover) .box-5 {
      background-color: rgba(127, 255, 212, 0.50);
      transform-origin: left;
      transform: rotateY(-15deg) skewY(-15deg);
      box-shadow: 0 0 10px 0 rgba(0, 255, 255, 0.5);
    }

    .box:hover+.box>div {
      background-color: rgba(127, 255, 212, 0.50);
      transform-origin: bottom;
      transform: rotateX(15deg) scale(1.1, 1.35) perspective(700px);
      box-shadow: 0 0 10px 0 rgba(0, 255, 255, 0.5);
    }

    .box:has(+ .box:hover)>div {
      background-color: rgba(127, 255, 212, 0.50);
      transform-origin: top;
      transform: scale(1.1, 0.7) rotateX(-15deg) perspective(700px);
      box-shadow: 0 0 10px 0 rgba(0, 255, 255, 0.5);
    }
  }

  .switch {
    @apply absolute -top-[2px] left-0 w-full max-w-[40px] h-full border-x border-x-gray-750 rounded-b-[6px] bg-gradient-to-r from-gray-800 to-gray-700;

    &:before {
      @apply [content:""] absolute -top-1 left-1/2 -translate-x-1/2 w-[105%] h-1/4 rounded-b-[50%] bg-gray-800;
      /* content: "";
      position: absolute;
      top: 0%;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      height: 25%;
      border-radius: 0 0 50% 50%;
      background-color: red; */
    }
  }

  @keyframes gradient-animated {
    0% {
      background-position: 0% 50%
    }

    50% {
      background-position: 100% 50%
    }

    100% {
      background-position: 0% 50%
    }
  }

  #glowing-text {
    text-shadow: 2px 2px 1px #fff;
    background-image: linear-gradient(to right, #3fb194, #b1613f, #e6bb5e);
    background-size: 200% 200%;
    animation: gradient-animated 5s linear infinite;
  }

  /* Animation 1 */
  #animation-bump {
    @apply grid grid-cols-10;

    .box-container {
      @apply relative p-1 w-8 h-8 bg-transparent;
    }

    .box {
      @apply w-full h-full transition-all;
      background-color: gray;
    }

    .box-col {
      @apply col-span-1 h-full w-full items-center justify-center;
    }

    &:has(.circle-1:hover) {
      .circle-1 > .box {
        background-color: aquamarine;
        transform: scale(1.1) translateY(-4px);
        box-shadow: 0 0 10px 0 rgba(0, 255, 255, 0.7);
      }

      .circle-2 > .box {
        background-color: aquamarine;
        transform: scale(0.75) translateY(-4px);
        opacity: 0.75;
        box-shadow: 0 0 10px 0 rgba(0, 255, 255, 0.7);
      }

      .circle-3 > .box {
        background-color: aquamarine;
        transform: scale(0.5) translateY(-4px);
        opacity: 0.55;
        box-shadow: 0 0 10px 0 rgba(0, 255, 255, 0.7);
      }

      .circle-4 > .box {
        background-color: aquamarine;
        transform: scale(0.25) translateY(-4px);
        opacity: 0.25;
        box-shadow: 0 0 10px 0 rgba(0, 255, 255, 0.7);
      }
    }

    &:has(.circle-2:hover) {
      .circle-2 > .box {
        background-color: aquamarine;
        transform: scale(1.1) translateY(-4px);
        box-shadow: 0 0 10px 0 rgba(0, 255, 255, 0.7);
      }

      .circle-1 > .box {
        background-color: aquamarine;
        transform: scale(0.75) translateY(-4px);
        opacity: 0.75;
        box-shadow: 0 0 10px 0 rgba(0, 255, 255, 0.7);
      }

      .circle-3 > .box {
        background-color: aquamarine;
        transform: scale(0.75) translateY(-4px);
        opacity: 0.75;
        box-shadow: 0 0 10px 0 rgba(0, 255, 255, 0.7);
      }

      .circle-4 > .box {
        background-color: aquamarine;
        transform: scale(0.5) translateY(-4px);
        opacity: 0.5;
        box-shadow: 0 0 10px 0 rgba(0, 255, 255, 0.7);
      }
    }

    &:has(.circle-3:hover) {
      .circle-3 > .box {
        background-color: aquamarine;
        transform: scale(1.1) translateY(-4px);
        box-shadow: 0 0 10px 0 rgba(0, 255, 255, 0.7);
      }

      .circle-1 > .box {
        background-color: aquamarine;
        transform: scale(0.5) translateY(-4px);
        opacity: 0.55;
        box-shadow: 0 0 10px 0 rgba(0, 255, 255, 0.7);
      }

      .circle-2 > .box {
        background-color: aquamarine;
        transform: scale(0.75) translateY(-4px);
        opacity: 0.75;
        box-shadow: 0 0 10px 0 rgba(0, 255, 255, 0.7);
      }

      .circle-4 > .box {
        background-color: aquamarine;
        transform: scale(0.75) translateY(-4px);
        opacity: 0.75;
        box-shadow: 0 0 10px 0 rgba(0, 255, 255, 0.7);
      }
    }

    &:has(.circle-4:hover) {
      .circle-4 > .box {
        background-color: aquamarine;
        transform: scale(1.1) translateY(-4px);
        box-shadow: 0 0 10px 0 rgba(0, 255, 255, 0.7);
      }

      .circle-1 > .box {
        background-color: aquamarine;
        transform: scale(0.25) translateY(-4px);
        opacity: 0.25;
        box-shadow: 0 0 10px 0 rgba(0, 255, 255, 0.7);
      }

      .circle-2 > .box {
        background-color: aquamarine;
        transform: scale(0.5) translateY(-4px);
        opacity: 0.55;
        box-shadow: 0 0 10px 0 rgba(0, 255, 255, 0.7);
      }

      .circle-3 > .box {
        background-color: aquamarine;
        transform: scale(0.75) translateY(-4px);
        opacity: 0.75;
        box-shadow: 0 0 10px 0 rgba(0, 255, 255, 0.7);
      }

    }
  }
}